<h1><%= "Merchant #{@merchant.id}'s Bulk Discounts" %></h1>

<div class="discounts">
  <% @discounts.each do |discount| %>
    <div class=<%= "discount_#{discount.id}" %>>
      <h3><%= "Discount ##{discount.id}" %></h3>
      <p><%= "Percent Discount: #{number_to_percentage(discount.discount, precision: 0)}" %></p>
      <p><%= "Quantity Threshold: #{discount.quantity}" %></p>
    </div>
  <% end %>
</div>
