<h1>Invoice <%=@invoice.id%>'s Information</h1>
<h3>Merchant: <%=@merchant.name%></h3>
  <p>Status: <%=@invoice.status%></p>
  <p>Created On: <%=@invoice.created_at.strftime("%A, %B %d, %Y")%></p>
  <p>Customer: <%=@invoice.customer_name%></p>

  <h2>Total Revenue</h2>
  <h4><%= money_honey(@invoice.revenue_by_merchant(@merchant)) %></h4>

  <h2>Total Discounted Revenue</h2>
  <h4><%= money_honey(@discounted_revenue) %></h4>

<h2><%=@invoice.id%>'s Items</h2>
<%@invoice.merchant_invoice_items(@merchant).each do |invoice_item|%>
  <section id="invoice_item<%= invoice_item.id%>">
    <div class=<%= "invoice_item_#{invoice_item.id}_info" %>>
      <h3>Item: <%=invoice_item.item_name%></h3>
      <p>Quantity Ordered: <%=invoice_item.quantity%></p>
      <p>Unit Price: <%=money_honey(invoice_item.unit_price) %></p>
      <% if invoice_item.item_best_discount %>
        <p><%= "Discount Applied: " %><%= link_to "#{invoice_item.item_best_discount_id}", "/merchants/#{@merchant.id}/discounts/#{invoice_item.item_best_discount_id}" %></p>
      <% else %>
        <p><%= "Discount Applied: None"%></p>
      <% end %>
    </div>
      <div class="status_<%= invoice_item.id%>">
        <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}/#{invoice_item.id}", method: :patch, local: true do |f| %>
        <p>Status: <%= f.select(:status, [:pending, :packaged, :shipped], selected: invoice_item.status)%> <%= f.submit "Update Item Status"%></p>
        <%end%>
      </div>
  </section>
<%end%>
